/*switch button*/
.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: inline-block;
  width: 4em;
  height: 2em;
  cursor: pointer;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  top: 11px;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}
.tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  border: 1px solid #e8eae9;
}
.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
  padding-right: .8em;
}
.tgl-ios:checked + .tgl-btn {
  background: #86d993;
}
.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -.8em;
}


.data-wrap{
	background-color: #fff;
	padding:25px 20px;
}
.release-button{
	border: 0;
	width: 110px;
	height: 40px;
	background-color: #5bafe9;
	color: #fff;
	font-size: 14px;
	border-radius: 5px;
	outline: none;
	margin-right: 15px;
}
.release-button:hover{
	background-color: #82bee7;
}
.table-box{
	height: 465px;
}
.table-box table{
	width:100%;
	border-collapse: collapse;
	border: none;
}
.table-box tr{
	text-align: center;
	overflow:hidden;
	height: 52px;
	line-height: 52px;
	color: #5b646c;
}
.table-box .first-line{
	height: 37px;
	line-height: 37px;
}
.table-box tr th{
	color: #6b7074;
	font-weight: normal;
	background-color: #efefef;
}
.table-box tr>*{
	border: solid #e4e4e4 1px;
	padding:0 5px;
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.table-box td input[type="button"]{
	border:0;
	background-color: rgba(0,0,0,0);
	outline: none;
	color:#5b646c;
	font-size: 14px;
	padding:0 0 0 18px;
}
.table-box td:first-child input[type="checkbox"], .table-box th:first-child input[type="checkbox"]{
	display:inline-block;
	vertical-align:middle;
	font-size:64px;
	width:15px;
	height:15px;
	margin:0 5px;
}
.cancel{
	background-image: url(../image/cancel.png);
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: 1px center;
	margin-right: 20px;
}
.delete{
	background-image: url(../image/delete.png);
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: 1px center;
}
.modify{
	background-image: url(../image/modify.png);
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: 1px center;
	margin-right: 20px;
}
.release-box{
	display: flex;
	flex-flow: row;
	align-items: center;
	margin-bottom: 20px;
}
.item-search-box{
	display: flex;
}
.item-search-box input[type="text"]{
	border:1px solid #f1f1f1;
	outline:none;
	font-size: 14px;
	padding: 0 10px;
	width:180px;
	height: 32px;
	line-height: 32px;
}
.item-search-box input[type="button"]{
	width:52px;
	border:0;
	background-color: #5bafe9;
	background-image: url(../image/search-button.png);
	background-repeat: no-repeat;
	background-size: 15px 15px;
	background-position: center center;

}
.release-box .delete-button{
	background-color: #df85f3;
}
input[type="button"]:disabled{
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    opacity: 0.7;
    cursor: not-allowed;
}

/*模态框*/
/*模态框*/
.bg_z {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
.vd_blk {
    display: none;
    /* width: 1024px; */
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -210px;
    margin-top: -160px;
    z-index: 1001;
    background: #eee;
}
.vd_blk3 {
    display: none;
    /* width: 1024px; */
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -322.5px;
    margin-top: -200px;
    z-index: 1001;
    background: #eee;
}
.vd_blk1{
	display: none;
    /* width: 1024px; */
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -170px;
    margin-top: -105px;
    z-index: 1001;
    background: #eee;
}
#swfid {
    /*width: 1024px;
    height: 582px;*/
    /*padding:30px;*/
}
.clb_ctl {
    width: 36px;
    height: 36px;
    /*background: #444;*/
    position: absolute;
    top: 5px;
    right: 5px;
}
.cls_btn {
    position: absolute;
    left: 10px;
    top: 10px;
    transform: rotate(0deg);
    transition: transform 0.35s ease;
    cursor: pointer;
}
.cls_btn:hover {
    transform: rotate(180deg);
}
.pop-up{
	width:420px;
	background-color: #fff;
	display:flex;
	flex-flow:column;
	padding-bottom: 20px;
}
.add-account-box{
	width:645px;
	background-color: #fff;
	display:flex;
	flex-flow:column;
	padding-bottom: 20px;
}
.delete-pop-up{
	width:345px;
	height: 210px;
	background-color: #fff;
	display:flex;
	flex-flow:column;
	padding:40px 0 20px;
}
.pop-up .title, .add-account-box .title{
	border-bottom: 1px solid #f1f1f1;
	height: 57px;
	line-height: 57px;
	padding-left: 30px;
	font-size: 14px;
	color:#686767;
}
.pop-up-item{
	display:flex;
	flex-flow: row;
	height: 115px;
	align-items: center;
}
.delete-pop-up .pop-up-item{
	height: 60px;
	line-height: 60px;
	color:#848383;
	font-size: 18px;
	justify-content: space-around;
}
.pop-up-item label{
	margin-left: 20px;
	font-size: 14px;
	color:#868686;
}
.pop-up-item input[type="file"]{
	width:250px;margin-left: 10px;
	font-size:12px;
}
.confirm-button{
	width:115px;
	height: 35px;
	border:0;
	color:#fff;
	background-color: #5bafe9;
	display:block;
	margin:0 auto;
}
.confirm-button:hover{
	background-color: #6fbfff;
}
.button-box{
	text-align: center;
}
.delete-pop-up .button-box{
	margin-top: 30px;
	padding:0 30px;
}
.cancel-button{
	background-color: #f1f1f1;
	color:#7a7a7a;
}
.cancel-button:hover{
	background-color: #e1e1e1;
}
.pop-up .column-item{
	padding:0 25px;
	margin:20px 0;
}
.pop-up .column-item>*{
	display:block;
	font-size: 14px;
	color:#868686;
	width:100%;

}
.pop-up .column-item textarea{
	resize: none;
	outline: none;
	height:200px;
}
.time-recharge{
	color:#5b646c;
}
.select-box{
	text-align: center;
	margin:15px 0;
}
.select-box select{
	font-size: 14px;
	outline: none;
	border-color: #f1f1f1;
}
.pop-up-wrap{
	justify-content: space-around;
	padding:35px 20px;
}
.pop-up-wrap, .pop-up-content-box{
	display:flex;
	flex-flow:row;
}
.pop-up-wrap .left-item{
	width:100px;
	text-align: right;
	margin-right: 10px;
	font-size: 14px;
	color:#868686;
}
.pop-up-wrap .right-item *{
	font-size: 14px;
}
.pop-up-content{
	width:45%;
}
.pop-up-content-box{
	height:45px;
	align-items: center;
}